# Streamlit secrets
.streamlit/secrets.toml

# Local environment variables
.env

# Google Credentials
service_account.json
credentials JSON/
*.json
credenciais streamlit.toml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
build/
dist/
.pytest_cache/